extends main

block content
    h2 Products:
    ul.list-group
        each product in products
            a.list-group-item.list-group-item-action(href=`product/${product['barcode']}`)= product['name']