extends main

block content
    ul
        each value, key in supplier
            li #{key}: #{value}
    h3 Edit Supplier:
    <form action="/editSupplier" method="post">
        <div class="col-md-4 mb-3">
        <label for="validationDefault01">Supplier's ID</label>
        <input  class="form-control" value =#{supplier['supplierID']} name = "id" readonly>
        </div>
        <div class="col-md-4 mb-3">
        <label for="validationDefault01">Supplier's New Name</label>
        <input type="text" class="form-control" name="name"  id="validationDefault01" placeholder="Supplier name" required>
        </div>
        <div class="col-md-4 mb-3">
        <label for="validationDefaultUsername">Supplier's New Phone Number</label>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">+961</span>
            </div>
            <input type="tel" class="form-control" name="phoneNumber" id="phonum" placeholder="Phone Number" aria-describedby="inputGroupPrepend2" pattern="[0-9]{8}"  required>
        </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    </form>