extends ../main

block content
    .dropdown
            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                | Sort By
            .dropdown-menu(aria-labelledby='dropdownMenuButton')
                a.dropdown-item(href='transactions?sort=transactionNumber') Transaction Number
                a.dropdown-item(href='transactions?sort=date') Date
                a.dropdown-item(href='transactions?sort=customerID') Customer
                a.dropdown-item(href='transactions?sort=employeeID') Employee

    h2 Transactions:
    .container
        each transaction in transactions
                .card
                    .card-body
                        h5.card-title Transaction ID: #{transaction['transactionNumber']}
                        h6.card-subtitle.mb-2.text-muted Customer ID: #{transaction['customerID']}
                        h6.card-subtitle.mb-2.text-muted Employee ID: #{transaction['employeeID']}
                        a.card-link(href=`transactions/transaction/${transaction['transactionNumber']}`) View details

        <a href="transactions/addTransaction"class="btn btn-success btn-block" role="button" aria-pressed="true">Create New Transaction</a>

