extends ../main

block content
    h2 Branches:
    .container
        each branch in branches
            .card
                //- img.card-img-top(src='https://shorturl.at/krEY2', alt='Card image cap')
                .card-body
                    h5.card-title #{branch['branchAddress']}
                    a.card-link(href=`branches/${branch['branchID']}`) View Branch
                    a.card-link(href='#') See Transactions
                    a.card-link(href='#') See Stock


