extends ../main

block content
    h1 Add Product:
    h5    <form action="products/addProduct" method="post">
        <div class="form-row">
             <label for="validationDefault01">Barcode</label>
        <div class="input-group col-md-2">
            <input type="text" class="form-control" name='bar' pattern="[0-9]*" placeholder="123" required="required">
        </div>
            <div class="input-group col-md-4 ">
            <label for="validationDefault01">Product's Name</label>
            <input type="text" class="form-control" name="name" id="validationDefault01" placeholder="Product" required="required">
        </div>
        </div>
        <label for="validationDefault01">Retail Price</label>
        <div class="input-group col-md-2">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">LL</span>
            </div>
            <input type="text" class="form-control" name='retail' pattern="[0-9]*" placeholder="123" required="required">
        </div>
        <label for="validationDefault01">Supplier Price</label>
        <div class="input-group col-md-2">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">LL</span>
            </div>
            <input type="text" class="form-control" name='supply' pattern="[0-9]*" placeholder="123" required="required">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
            <label for="validationDefault01">Expiry Date</label>
            <input type="text" class="form-control" id="expiry" name="expiry" pattern="[0-9][0-9][0-9][0-9]-[01][0-9]-[0-3][0-9]" placeholder="yyyy-mm-dd" required="required">
            </div>
            <div class="form-group col-md-4">
            <label for="inputState">Supplier</label>
            <select class="form-control" id="sel1" name="supplier">
                each supplier in suppliers
                        <option value=#{supplier['supplierID']}>  #{supplier['name']} </option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    