extends ../main

block content
    h2 Transactions:
    .container
        each transaction in transactions
                .card
                    .card-body
                        h5.card-title Transaction ID: #{transaction['transactionNumber']}
                        h6.card-subtitle.mb-2.text-muted Customer ID: #{transaction['customerID']}
                        h6.card-subtitle.mb-2.text-muted Employee ID: #{transaction['employeeID']}
                        a.card-link(href=`transactions/transaction/${transaction['transactionNumber']}`) View details

