extends ../main

block content
    h2 Suppliers:
    .container
        each supplier in suppliers
            .card
                //- img.card-img-top(src='https://shorturl.at/krEY2', alt='Card image cap')
                .card-body
                    h5.card-title #{supplier['name']}
                    h6.card-subtitle.mb-2.text-muted #{supplier['phoneNumber']}
                    a.card-link(href=`suppliers/${supplier['supplierID']}`) View Supplier
                    a.card-link(href='#') Make order
    h3 Add Supplier:
    <form action="suppliers/addSupplier" method="post">
        <div class="col-md-4 mb-3">
        <label for="validationDefault01">Supplier name</label>
        <input type="text" class="form-control" name="name"  id="validationDefault01" placeholder="Supplier name" required>
        </div>
        <div class="col-md-4 mb-3">
        <label for="validationDefaultUsername">Phone Number</label>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">+961</span>
            </div>
            <input type="tel" class="form-control" name="phoneNumber" id="phonum" placeholder="Phone Number" aria-describedby="inputGroupPrepend2" pattern="[0-9]{8}"  required>
        </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    </form>