extends ../main

block content    
    h3 Supplied Products:
    .container
        each product in products
            .card
                .card-body
                    h5.card-title #{product['name']}
                    h6.card-subtitle.mb-2.text-muted #{product['retailPrice']} LL
                    a.card-link(href=`products/product/${product['barcode']}`) View product
                    a.card-link(href='#') See Transactions